{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Alexander</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi excepturi quasi incidunt eveniet, deleniti
            officiis illo, inventore qui quae officia sunt sed animi in quisquam eius minus accusantium molestias.
            Laudantium?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/reatail_icono.png" class="img-thumbnail">
    </div>
</div>
{{> footer }}